<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Client Report</title>
  <style>
        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }

        th, td {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
<h2>Client Report</h2>

<table>
  <thead>
  <tr>
    <th>ID</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Contact Number</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="client : ${clients}">
    <td th:text="${client.id}"></td>
    <td th:text="${client.firstName}"></td>
    <td th:text="${client.lastName}"></td>
    <td th:text="${client.contactNumber}"></td>
  </tr>
  </tbody>
</table>
</body>
</html>
